- job:
    scm: 
        - checkboxio
    name: checkbox
    project-type: freestyle
    defaults: global
    description: 'Checkbox.io'
    builders:
        - shell: |-
            npm install --prefix server-side/site/
            cd server-side/site ;node server.js &
            npm test

- scm:
    name: checkboxio
    scm:
        - git: 
            url: 'https://github.com/chrisparnin/checkbox.io.git'
            branches: 
                - master

