#!groovy

import jenkins.model.*
import hudson.security.*
import jenkins.install.InstallState

def instance = Jenkins.getInstance()

jlc = JenkinsLocationConfiguration.get()
jlc.setUrl('http://192.168.33.20:9000/')
jlc.save()

println "--> creating local user '{{JK_USR}}'"

def hudsonRealm = new HudsonPrivateSecurityRealm(false)
hudsonRealm.createAccount('{{JK_USR}}','{{JK_PASSWD}}')
instance.setSecurityRealm(hudsonRealm)

if (!instance.installState.isSetupComplete()) {
  println '--> Neutering SetupWizard'
  InstallState.INITIAL_SETUP_COMPLETED.initializeState()
}

def strategy = new FullControlOnceLoggedInAuthorizationStrategy()
strategy.setAllowAnonymousRead(false)
strategy.add(Jenkins.ADMINISTER, '{{JK_USR}}')
instance.setAuthorizationStrategy(strategy)
instance.save()